.leaves-container {
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    height: 100%;
}

.btn-group > .btn {
    border-radius: 15px;
}

.new-button-style {
    margin-right: 20px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.select-time-style {
    margin-right: 20px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.zoom-roll-button-style {
    margin-right: 20px;
    background-color: #2885a7;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    float: right;
}

.init-button-style {
    margin-right: 10px;
    background-color: #2846a7;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    float: right;
}

.zoom-button-style {
    margin-right: 20px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    float: right;
}

.leaves-container h3 {
    margin-top: 0;
}

.leaves-container ul {
    list-style-type: none;
    padding: 0;
}

.leaves-container li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.leaves-container li:last-child {
    border-bottom: none;
}

.load-item.selected {
    background-color: #007bff;
    color: white;
    border-left: 4px solid #0056b3;
    padding-left: 4px;
}

.modal-backdrop {
    display: none;
}

.modal-dialog {
    overflow: hidden;
    max-width: 60%;
}

.modal {
    z-index: 1050;
}


body.modal-open .container {
    z-index: auto;
    position: relative;
}

body.modal-open {
    overflow: visible !important;
}

#search {
    display: block;
    width: 50%;
    margin: 0 auto;
}

#SimpleJSTree {
    position: absolute;
    left: 2%;
    top: 5%;
}

.parent-of-jstree {
    position: relative;
}

#timeSelectionModal {
    z-index: 1051;
}

.crosshair-cursor {
    cursor: crosshair;
}

.start-time-selection, .end-time-selection {
    height: 200px;
    overflow-y: scroll;
}


.modal-header, .modal-footer {
    padding: 10px;
}

.modal-body {
    overflow-y: auto;
}

.ui-resizable-handle {
    cursor: pointer;
    z-index: 1052;
}

.modal-content {
    resize: both;
    overflow: auto;
    min-width: 400px;
    min-height: 350px;
}
@media (min-width: 400px) {
    .modal-dialog {
        max-width: none;
    }
}

